<!DOCTYPE html>
<html>
<head>
	<title>About Me</title>
	<style>
		body {
			font-family: Arial, sans-serif;
			background-color: #f2f2f2;
			margin: 0;
			padding: 0;
		}

		header {
			background-color: #333;
			color: #fff;
			padding: 20px;
			text-align: center;
		}

		h1 {
			font-size: 36px;
			margin-top: 0;
		}

		p {
			font-size: 18px;
			line-height: 1.5;
			margin-bottom: 20px;
			text-align: justify;
			padding: 0 20px;
		}

		.container {
			max-width: 960px;
			margin: 0 auto;
			padding: 40px 20px;
		}

	</style>
</head>
<body>
	<header>
		<h1>About Me</h1>
	</header>
	<div class="container">
		<p>Hi, my name is Shifat Ali and I'm a Btech Student in IIT Guwahati. I am currently in my second year and have experience in a some of web technologies.</p>
        <p>Aside from programming, I enjoy swimming, playing cards and watching movies.</p>
        <p>If you have any questions or would like to get in touch, feel free to send me an email at a.shifat@iitg.ac.in</p>
		<ul>
		
